._font_general {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Futura No 2. Semi Bold', Arial;
}


.__text {
    composes: _font_general;
    color: hsl(0, 0%, 90%);
    font-size: 27px;
    line-height: 40px;
}
